.alert {}

.add-form-div {
    max-height: 90%;
    height: 700px;
    overflow-y: auto;
    margin-right: -22px;

}
.respons-notf{
    opacity: 1;
    position: absolute !important;
    top: 18%;
    height: 84px;
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border: solid 1px;
}